div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 85px;
    padding: 2px;
    font: 14px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#barchart {
    top: 120px;
    max-height: 80vh;
    position: fixed;
}

.wrapper {
  display: grid;
  grid-template-columns: 800px 800px
}

#options-menu {
  padding-top: 15px;
}

* {
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  margin: 0;
  padding: 0;
}

.header {
  margin-top: 50px;
}


/*Site Logo is for the logo IMG tag do not add if you do not wish to use the IMG logo!*/

.sitelogo {
  height: auto;
  width: 700px;
  margin: 0 auto;
}


/*Site Logo is for the logo IMG tag do not add if you do not wish to use the IMG logo!*/

.sitelogo img {
  height: inherit;
  width: inherit;
}

.navbar {
  top: 0;
  bottom: 10;
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
  border-bottom: 2px solid #4d4d4d;
  z-index: 10000000
  /*margin-left: 150px;*/
}

.navbar ul {
  /*margin-left: 120px;*/

}

.navbar ul li {
  float: left;
  list-style-type: none;
  width: 100px;
  text-align: center;
}

.navbar ul li a {
  position: RELATIVE;
  text-decoration: none;
  color: white;
  line-height: 50px;
  display: block;
}

a:hover:not(.active):not(#reflink) {
  background-color: teal;
}

.active {
  background-color: red;
  ;
}

.dropdown {
  position: static;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: static;
  background-color: #0a1010;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 4;
}

/*.dropdown-content:hover + #reflink {
  border-bottom: 2px solid green;
  color: blue;
  background-color: green;
}*/

.dropdown:hover + #reflink {
  color: blue;
  background-color: green;
  border-bottom: 1px solid gold;
}

.dropdown:hover .dropdown-content {
  display: block;
}
